[Desktop Entry]
Name=Hexter
Comment=Piano Synthesizer
Exec=/usr/bin/hexter
Icon=studioware-logo5
Terminal=false
Type=Application
Categories=X-Studioware-Audio-Synths;
